@import 'tailwindcss';

@font-face {
  font-family: 'arabic';
  src: url('/fonts/arabic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  font-size: 1.5em;
}

@theme {
  --font-arabic: 'arabic';
}

.verse-arabic-word:hover {
  color: #b45309;
  cursor: pointer;
  transition: color 0.3s ease;
}